<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h1 style="text-align: center;"><b>Tabel</b> </h1>
        <table class="table table-striped" s>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Tanggal lahir</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= data[0].id %>
                    </td>
                    <td>
                        <%= data[0].username %>
                    </td>
                    <td>
                        <%= data[0].tgl_lahir %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= data[1].id %>
                    </td>
                    <td>
                        <%= data[1].username %>
                    </td>
                    <td>
                        <%= data[1].tgl_lahir %>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</body>

</html>